@using Internet_Shop.ViewModels;
@using Layer.Const;
@model Internet_Shop.ViewModels.AddProductViewModel


@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.ProductType)
        </div>

        <div class="editor-field">
            @Html.TextBoxFor(model => model.Product.ProductType, new { @Value = @Model.ProductType })
        </div>

        <div>
            @Html.Label(CharacteristicConst.Image)
        </div>
        <div class="editor-field">
            <input type="file" name="file" id="file" />
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["5"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["43"])
        </div>


        <div class="editor-label">
            @Html.Label(CharacteristicConst.WeightUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["47"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.FlywheelWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["48"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.PulseMeasurement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["49"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Programs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["50"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Display)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["51"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.DisplayIndications)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["52"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Adjustments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["53"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.ShippingRollers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["54"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["12"])
        </div>

        <p>
            <input type="submit" value="Add Product" />
        </p>
    </fieldset>
}