@using Internet_Shop.ViewModels;
@using Layer.Const;
@model Internet_Shop.ViewModels.AddProductViewModel


@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.ProductType)
        </div>

        <div class="editor-field">
            @Html.TextBoxFor(model => model.Product.ProductType, new { @Value = @Model.ProductType })
        </div>

        <div>
            @Html.Label(CharacteristicConst.Image)
        </div>
        <div class="editor-field">
            <input type="file" name="file" id="file" />
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["5"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Material)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["17"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["25"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["33"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Growth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["34"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Style)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["35"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Length)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["36"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Manufacturer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["37"])
        </div>

        <div class="editor-label">
            @Html.Label(CharacteristicConst.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Characteristics["12"])
        </div>

        <p>
            <input type="submit" value="Add Product" />
        </p>
    </fieldset>
}