@using Internet_Shop.ViewModels;
@using Layer.Const;
@model  ProductsViewModel



<div style="width:100%">
    <div style="width:49%;float:left">
        <h2>@Model.Product.Name</h2>
    </div>
    <div style="width:49%; float:left;text-align:right">
        <h2>@Model.Product.Characteristics[CharacteristicConst.Price]</h2>
    </div>
</div>

<div style="clear:both">
</div>

<div>
    <div style="float:left; min-width:220px;">
        <img src="@Model.Product.Characteristics[CharacteristicConst.Image]" height="400" />
    </div>
    <div style="float:left;width:58%;margin-left:3%">
        <div style="font-size:20px">Product information: </div>

        @Html.Label("Name", new { @class = "information" }):
        @Model.Product.Name <br>

        @Html.Label("Type", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Type] <br>

        @Html.Label("FlywheelWeight", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.FlywheelWeight] <br>

        @Html.Label("WeightUser", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.WeightUser] <br>

        @Html.Label("PulseMeasurement", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.PulseMeasurement] <br>

        @Html.Label("Programs", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Programs] <br>

        @Html.Label("Display", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Display] <br>

        @Html.Label("DisplayIndications", new { @class = "information" }):
        <pre style="font-family: 'Segoe UI', Verdana, Helvetica, Sans-Serif">@Model.Product.Characteristics[CharacteristicConst.DisplayIndications].Replace(",","\n")
        </pre>
    
        @Html.Label("Adjustments", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Adjustments] <br>

        @Html.Label("ShippingRollers", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.ShippingRollers] <br>

        @Html.Label("Description", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Description] <br>

    </div>
</div>