@using Internet_Shop.ViewModels;
@using Layer.Const;
@model  ProductsViewModel



<div style="width:100%">
    <div style="width:49%;float:left">
        <h2>@Model.Product.Name</h2>
    </div>
    <div style="width:49%; float:left;text-align:right">
        <h2>@Model.Product.Characteristics[CharacteristicConst.Price]</h2>
    </div>
</div>

<div>
    <div style="float:left;min-width:220px">
        <img src="@Model.Product.Characteristics[CharacteristicConst.Image]" height="400" />
    </div>
    <div style="float:left;width:700px;margin-left:3%">
        <div style="font-size:20px">Product information: </div>

        @Html.Label("Name", new { @class = "information" }):
        @Model.Product.Name <br>

        @Html.Label("Size", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Size] <br>

        @Html.Label("Growth", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Growth] <br>

        @Html.Label("Style", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Style] <br>

        @Html.Label("Length", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Length] <br>

        @Html.Label("Manufacturer", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Manufacturer] <br>

        @Html.Label("Width", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Width] <br>

        @Html.Label("Color", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Color] <br>

        @Html.Label("Description", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Description] <br>

    </div>
</div>