@using Internet_Shop.ViewModels;
@using Layer.Const;
@model  ProductsViewModel



<div style="width:100%" >
    <div style="width:49%;float:left">
        <h2>@Model.Product.Name</h2>
    </div>
    <div style="width:49%; float:left;text-align:right">
        <h2>@Model.Product.Characteristics[CharacteristicConst.Price]</h2>
    </div>
</div>

<div style="clear:both">
</div>

<div>
    <div style="float:left; min-width:220px;">
        <img src="@Model.Product.Characteristics[CharacteristicConst.Image]" height="400" />
    </div>
    <div style="float:left;width:58%;margin-left:3%">
        <div style="font-size:20px">Product information: </div>

        @Html.Label("Name", new { @class = "information" }):
        @Model.Product.Name <br>

        @Html.Label("Genre", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Genre] <br>      

        @Html.Label("Production", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Production] <br> 

        @Html.Label("InterfaceLanguage", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.InterfaceLanguage] <br> 

        @Html.Label("NumberOfPages", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.NumberOfPages] <br> 

        @Html.Label("Author", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Author] <br> 

        @Html.Label("Weight", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Weight] <br> 

        @Html.Label("ReleaseDate", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.ReleaseDate] <br> 

        @Html.Label("Description", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Description] <br> 
      
    </div>
</div>