@using Internet_Shop.ViewModels;
@using Layer.Const;
@model  ProductsViewModel



<div style="width:100%">
    <div style="width:49%;float:left">
        <h2>@Model.Product.Name</h2>
    </div>
    <div style="width:49%; float:left;text-align:right">
        <h2>@Model.Product.Characteristics[CharacteristicConst.Price]</h2>
    </div>
</div>

<div style="clear:both">
</div>

<div>
    <div style="float:left; min-width:220px;">
        <img src="@Model.Product.Characteristics[CharacteristicConst.Image]" height="400" />
    </div>
    <div style="float:left;width:58%;margin-left:3%">
        <div style="font-size:20px">Product information: </div>

        @Html.Label("Name", new { @class = "information" }):
        @Model.Product.Name <br>

        @Html.Label("Type", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Type] <br>

        @Html.Label("Construction", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Construction] <br>

        @Html.Label("Features", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Features] <br>

        @Html.Label("Engine Power", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.EnginePower] <br>

        @Html.Label("Maximum Speed", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.MaximumSpeed] <br>

        @Html.Label("Weight User", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.WeightUser] <br>

        @Html.Label("Description", new { @class = "information" }):
        @Model.Product.Characteristics[CharacteristicConst.Description] <br>

    </div>
</div>